/* This file is for your main application css. */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-900;

  h1 {
    @apply text-white text-center text-4xl p-4 font-black;
  }

  .ping_table {
    @apply w-full;

    tr:nth-child(even) {
      @apply bg-gray-800;
    }

    th {
      @apply text-sm text-gray-300 w-1/3 text-left py-8 px-4;

      #loss_legend {
        @apply w-2 h-2 bg-yellow-600 inline-block;
      }

      #ping_legend {
        @apply w-2 h-2 bg-yellow-400 inline-block;
      }
    }

    td {
      @apply text-sm text-gray-300 w-1/3 text-left p-4;
    }

  }

  .chart {
    text {
      @apply text-xs fill-current text-blue-100;
    }

    polyline#ping_graph {
      @apply stroke-current text-yellow-400 stroke-2;
    }

    polyline#loss_graph {
      @apply stroke-current text-yellow-600 stroke-2;
    }
  }
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}