/* This file is for your main application css. */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-900;
  h1 {
    @apply text-white text-center text-4xl p-4 font-black;
  }
  .table_container {@apply bg-gray-100 rounded pb-4 shadow;}
  .ping_table {
    @apply w-full;
    tr:nth-child(even){@apply bg-gray-300;}
    th {
      @apply text-sm text-gray-700 w-1/3 text-left p-4 border-b border-gray-700;
    }
    td {
      @apply text-sm text-gray-700 w-1/3 text-left p-4 border-b border-gray-700;
    }
    
  }
}
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
